* {
    box-sizing: border-box;
}

p {
    font-size: 15px;
}

body {
    max-width: 1080px;
    margin: 0 auto 0 auto;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif ;

}


header {
    display: flex;
    justify-content: space-between;
}

#nav-pc {
    font-size: 14px;
}
#nav-pc ul {
    display: flex;
    padding-left: 0;
}
#nav-pc li {
    list-style: none;
}
#nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color: #0d0d0d;
}
#nav-pc a:hover {
    text-decoration: underline;
}
#main-visual {
    position: relative;
    height: 470px;
}
#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2710d5;
    color: #ffffff;
    border-radius: 0 0 476px 0;
    max-width: 620px;
    height: 100%;
    width: 100%;
    z-index: 11;
}
#main-message > h1 {
    font-size: 60px;
    margin: 100px 0 0 50px;
}
#main-message > p {
    font-size: 28px;
    margin: 0 0 0 50px;
}
#main-visual > img {
    max-width: 620px;
    border-radius: 476px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
h2 {
    margin: 40px 0 0 0;
}
h2::after {
    content: url("images/line.png");
    margin-left: 10px;
}
h3 {
    font-size: 27px;
}
#mission {
    margin: 80px auto 80px auto;
}
#mission-flex {
    display: flex;
}
#mission-flex > div {
    width: 50%;
    margin: 20px;
}
#mission-photo {
    width: 100%;
}
#s2dgs {
    margin-top: 50px;
    width: 100%;
}
