body{
    font-family: "Arial","Mairyo",sans-serif;
}
h1{
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    letter-spacing:1.5em;
    border-bottom: double 3px black;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.skyblue {
    color:skyblue;
}
.pink {
    color:pink;
}


h2{
    font-size: 20px;
    text-align: center;
}
.paragraph1{
    text-align: center;
}
.heading2{
    color:pink;
}
.paragraph2{
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.heading3{
    color:skyblue;
}
.paragraph3{
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.heading4{
    color: pink;
}
.paragraph4{
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.heading5{
    color: skyblue;
}
.paragraph5{
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.heading6{
    color:pink;
}
.paragraph6{
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.heading7{
    color:skyblue;
}
.paragraph7{
    text-align: center;
}
